.container{
    /* position: relative; */
    width: 100vw;
    height: auto;
    /* border: 2px solid black; */
    /* overflow-x: hidden; */
    display: flex;
    flex-wrap: wrap;
    min-width: 400vh;
}
.photos{
    width: 46vw;
    /* border: 2px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding-left: 4vw; */
}
.small img{
    width: 220px;
    border-radius: 10px;
    margin: 20px 0px 15px 25px ;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.small{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    padding-right: 10px;
}
.large{
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.large img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.hidden {
    opacity: 0;
    transform: translateX(-50px); 
    transition: 0.6s ease-out; 
}
.hidden2{
    opacity: 0;
    transform: translateY(30px); 
    transition: 0.6s ease-out; 
}
.visible {
    opacity: 1;
    transform: translate(0,0);
}

/* styling text */

.text{
    width: 54vw;
    /* border: 2px solid red; */
}
.text h1{
    width: 100%;
    height: 50%;
    text-align: end;
    padding: 10% 14%;
    font-size: 70px;
    /* display: flex;
    align-items: center; */
}
#exploring{
    display: inline-block;
    color: #F16C1C;
    position: relative;
}
#exploring::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 5px;
    background-color: #F16C1C;
    bottom: 0px;
    left: 0;
}

/* styling description */
.description{
    /* border: 2px solid pink; */
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
}
.description p{
    display: inline-block;
    /* background-color: aqua; */
    text-align: end;
    padding: 1% 14% 0% 10% ;
    font-size: 20px;
    color: #1E293B;
}
@media (width<1435px){
    .small {
        width: 40%;
        justify-content: flex-start;
    }
}
