@media (width<1320px){
    .photos{
        width: 40vw;
    }
    .text{
        width: 60vw;
    }
    .small img{
        width: 180px;
    }
    .large{
        width: 280px;
    }
}
@media (width<1248px) {
    .text h1{
        padding-left: 4%;
    }
    .text{
        width: 54vw;
    }
    .photos{
        width: 46vw;
    }
}
@media (width<1100px) {
    .text h1{
        padding:0% 8%;
        height: auto;
    }
    .description p{
        padding-right: 8%;
    }
    .photos,.text{
        width: 100vw;
    }
    .container{
        min-width: 100vw;
    }
}
@media (width<560px){
    
    .small,.large{
        padding: 0px;
        width: vw;
    }
    .small{
        width: 47vw;
    }
    .small img{
        width: 90%;
    }
    .large{
        width: 53vw;
        padding-right: 10px;
    }
    .small img{
        margin: 20px 0px 15px 10px ;
    }
    .container{
        padding: 0px;
    }
    .text{
        padding: 0px 1%;
    }
    .text h1{
        padding:4%  5%;
        font-size: 2.5rem;
    }
}