.loaderContainer{
    width: 100vw;
    height: 80vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.wheelLoader{
    height: 50px;
    width: 50px;
    margin: auto;
    animation: rotate 2s linear 0s infinite ;
}
@keyframes rotate{
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}