.banner{
    position:relative;
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin: auto;
    height: 200px ;
    background:linear-gradient(to top,#FCD400,#FFEA00,#FFEA00);
    border-radius: 0px 0px 0px 10px ;
    padding-right: 2%;
    /* overflow: hidden; */
}
.banner h2{
    font-size: 2.5rem;
    margin:1.5% 0% 0% 1.8%  ;
    font-family: "Dancing Script", serif;
}
.bannerImg{
    height: 200px;
    object-fit: repeat;
}
.dp{
    position: relative;
    width: 140px;
    height: 140px;
    background-color: transparent;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -50px;
    left: 50px;
    border-bottom: 1px solid lightgray;
}
.dp img{
    width: 100%;
}
.banner i{
    font-size: 18px;
    position: absolute;
    left: 160px ;
    bottom: 20%;
    cursor: pointer;
}
.nav{
    position: relative;
    width: 80%;
    margin:auto;
    height: 60px;
    background-color: transparent;
    display: flex;
    justify-content: flex-end ;
    /* margin-right: 10%; */
    margin-bottom: 20px;

}
.nav div{
    height: 60px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 150, 85, 0.726);
    font-size: 1.3rem;
    cursor: pointer;
}
.move{
    width: 200px;
    position: absolute;
    height: 60px ;
    background-color:#f08c4e;
    transition: 0.5s;
    transform: translateX(-100%) !important;
    z-index: -1;
    border-radius: 0px 0px 0px 10px ;
}
.moveRight{
    transform: translateX(0%) !important;
    border-radius:  0px 0px 10px 0px;
}
.outerDiv{
    width: 80%;
    margin: auto;
}
.myLocation{
    border-radius: 0px 0px 0px 10px ;
    width: 200px;
}
.wishlist{
    border-radius:  0px 0px 10px 0px;
    width: 200px;

}
@media(max-width:1382px) {
    .bannerImg{
        display: none;
    }
}
@media (max-width:749px) {
    .nav div{
        width: 140px;
        font-size: 0.9rem;
    }
    .move{
        width: 140px;
    }
    .banner h2{
        font-size: 2rem;
    }
}
    

@media (width<600px){
    .dp{
        left: 0px;
        bottom: 0px;
        width: 70px;
        height: 70px;
    }
    .banner{
        border-radius:0px 0px 0px 35px ;
        height: 170px;

    }
    .banner i{
        font-size: 16px;
        position: absolute;
        left: 50px ;
        bottom: 20%;
        cursor: pointer;
    }
}