.signUpDiv{
    min-height: 95vh ;
    display: flex;
}
.imgDiv{
    position: relative;
    display: inline-block;
    padding: 0px 15px 15px 3.5vw;
}
.imgDiv h1{
    position: relative;
    width: 80%;
    font-family: "Dancing Script", serif;
    letter-spacing: 4px;
    padding-right: 10%;
    text-align:end ;
    font-size: 50px;
    position: absolute;
    top: 5%;
    /* padding-top: 10px; */
}
#part_1{
    display: inline-block;
    width: 100%;
    height: 65px;
    overflow: hidden;
    border-right: none;
    animation: slow 750ms ease-in-out 0s;
    transform: translateY(10px);
}
#part_2{
    display: inline-block;
    position: relative;
    animation: slow2 1.5s ease-in-out 0s;
}
@keyframes slow {
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(10px);
    }
}
@keyframes slow2 {
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
/* #cursor{
    position: absolute;
    top: 0;
    right: 10%;
    display: inline-block;
    width: 72%;
    height: 60px;
    border-left: 3px solid black;
    background-color: pink;
    animation: cursor 1s ease-in-out;
    overflow: hidden;
}*/
.house{
    height: 89vh;
    border-radius: 10px;
}
#house1{
    z-index: 1;
}
#house2{
    position: absolute;
    top: 0;
    z-index: 3;
    opacity: 0.8;
}
.signUpForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin-top: 5%;
    margin: auto;
}
.inputsDiv{
    font-size: 1.5rem;
    position: relative;
    margin: 15px 0px;
}
.signUpForm .inputs{
    padding-left: 10px !important;
    outline: none;
    border: none;
    width: 160%;
    background-color: transparent;
    height: 2.5rem;
    transform: translateX(-18%);
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid lightgray;
}
.signUpForm input:focus{
    border: 2px solid #fea269;
}
.passDiv{
    position: relative;
}
#eye{
    height: 15px;
    width: 15px;
    top: 33%;
    left: 120%;
    position: absolute;
}
.valid{
    border: 2px solid rgb(43, 120, 214) !important;
}
.error {
    border: 2px solid rgb(255, 54, 54) !important; 
}
.signUpForm .signUpBtn{
    border: 0px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color:#c77b4c ;
    width: 150px;
    transition: 0.1s;   
    margin: 1rem auto;
}
.signUpForm .signUpBtn:hover{
    background-color: #F16C1C;
}
.signUpForm .social{
    background-color: white;
    width: 86%;
    height: 50px;   
    border: 2px solid lightgray;
    border-radius: 5px ;
    margin: 0.3rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}
.signUpForm .social:hover{
    transform: translateY(-3px);
    box-shadow: 0px 1px 1px lightgray;

}
.signUpForm .google img{
    width: 1.3rem;
    margin: 0px 0.8rem;
}
@media (width<1309px){
    .imgDiv{
        display: none;
    }
    .signUpForm{
        margin-top: 10vh;
    }
}

